<div class="index">

    <div class="masthead d-flex">
        <header class="container text-center my-auto">
            <h1 class="mb-1">Favorite Links</h1>
            <h3 class="mb-5">
                <em>Almacene sus enlaces favoritos</em>
            </h3>
            <a href="/signin"class="btn btn-primary btn-lg">
                Empecemos
            </a>
        </div>
    </header>

</div>