<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Links Apps</title>

    {{!--Google Font--}}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    {{!--bootstrap 4--}}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">    {{!--Font Awesome--}}
    <script src="https://kit.fontawesome.com/e8e7b259ec.js" crossorigin="anonymous"></script>
    {{!--STYLES--}}
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

    {{{body}}}
    
</body>
</html>